<<<<<<< HEAD
.copyright {
    margin-top: 50px;
    color: grey;
    text-align: center;
    font-size: 0.875rem;

=======
.copyright {
    margin-top: 50px;
    color: grey;
    text-align: center;
    font-size: 0.875rem;

>>>>>>> d526fa272ed52c5957150f6feb0afff7f2520ff3
}