<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --main-background-color: #1A202C;
}

* {
  box-sizing: border-box;
  margin: 0;

}

a:visited,
a,
a:hover {
  color: white;
  text-decoration: none;
}

body {
  background-color: var(--main-background-color);
  color: white;
  font-family: 'Bitter', serif;
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  flex-direction: column;
}

.Text {
  font-family: 'Libre Franklin', sans-serif;
}


.Home {
  margin: 50px 0px;
=======
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --main-background-color: #1A202C;
}

* {
  box-sizing: border-box;
  margin: 0;

}

a:visited,
a,
a:hover {
  color: white;
  text-decoration: none;
}

body {
  background-color: var(--main-background-color);
  color: white;
  font-family: 'Bitter', serif;
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  flex-direction: column;
}

.Text {
  font-family: 'Libre Franklin', sans-serif;
}


.Home {
  margin: 50px 0px;
>>>>>>> d526fa272ed52c5957150f6feb0afff7f2520ff3
}